<%= include head %>
<%= include backend_nav %>

<div class="container">
	<div id="header" style="background-image: none; height: 5em;">
		<div class="logo">
			<img src="images/logo-wit.png" alt="Taartenwinkel.nl logo">
		</div>
	</div>

	<div class="section">

	<h1>Accounts</h1>


	<table>
		<thead>
			<tr>
				<th>naam</th>
				<th>handtekening</th>
				<th>Verwijder</th>
			</tr>
		</thead>

		<% data.accountData.forEach(function(accountData) { %>
		
			<tbody>
				<tr>
					<td data-label="naam"><%=accountData.u%></td>
					<td data-label="handtekening"><img src="images/<%=accountData.u%>.png"></td>
					<td data-label="verwijder"><a href="accounts/remove/account/<%=accountData.u%>">verwijder</a></td>
				</tr>
			</tbody>

		<% }); %>	
		</table>

		<a href="/accounts/addAccount" ><button class="button">Account toevoegen</button></a>

	</div>

</div>



<%= include foot %>